## Deliverable 3. Create a Travel Itinerary Map.

In [19]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [20]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Albany,US,68.00,light rain,42.60,-73.97,NaN
1,2,Mataura,NZ,60.01,light rain,-46.19,168.86,Ellie's Villa
2,6,Thompson,CA,53.60,light rain,55.74,-97.86,Burntwood Hotel
3,7,Fortuna,US,57.99,overcast clouds,40.60,-124.16,Super 8 by Wyndham Fortuna
4,8,Cape Town,ZA,57.99,few clouds,-33.93,18.42,Southern Sun Waterfront Cape Town
...,...,...,...,...,...,...,...,...
315,672,Huarmey,PE,59.97,few clouds,-10.07,-78.15,Hotel Miramar
316,677,Tarko-Sale,RU,60.01,scattered clouds,64.92,77.78,Yubileynaya
317,678,Colesberg,ZA,45.90,broken clouds,-30.72,25.10,Bhelekazi Guesthouse
318,686,Guapore,BR,54.00,clear sky,-28.85,-51.89,Hotel Topo Gigio
319,688,Ondjiva,AO,60.58,scattered clouds,-17.07,15.73,SOS Motel

In [21]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [22]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] ==  'Concordia')]
vacation_end = vacation_df.loc[(vacation_df["City"] ==  'Concordia')]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] ==  'Maldonado')]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] ==  'Rocha')] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] ==  'Chuy')]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
299,644,Concordia,AR,57.0,clear sky,-31.39,-58.02,Palmar Hotel Casino

In [37]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat','Lng']].to_numpy()
end = vacation_end[['Lat','Lng']].to_numpy()
stop1 = vacation_stop1[['Lat','Lng']].to_numpy()
stop2 = vacation_stop2[['Lat','Lng']].to_numpy()
stop3 = vacation_stop3[['Lat','Lng']].to_numpy()

In [50]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
trip = gmaps.directions_layer(start[0],end[0],waypoints=[stop1[0],stop2[0],stop3[0]],travel_mode='DRIVING')
fig.add_layer(trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1],ignore_index=True)
itinerary_df = pd.concat([itinerary_df,vacation_stop2],ignore_index=True)
itinerary_df = pd.concat([itinerary_df,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,644,Concordia,AR,57.00,clear sky,-31.39,-58.02,Palmar Hotel Casino
1,536,Maldonado,UY,55.00,clear sky,-34.67,-54.92,La Cimarrona
2,123,Rocha,UY,50.92,clear sky,-34.48,-54.33,Beleza Pura B&B
3,175,Chuy,UY,53.69,clear sky,-33.70,-53.46,Nuevo Hotel Plaza

In [47]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [51]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))